<div class="phx-hero">
  <h2>Search & crawl curration candidates</h2>
</div>

Keywords <%= text_input :user, :name, value: "Foxtail millet" %>
<%= button("search", to: URI.parse("https://www.ncbi.nlm.nih.gov/sra/?term=foxtail+millet")) %>
