<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "MMDB" %></h1>
  <p>Millets Meta-analysis DataBase system</p>
</section>

<section class="row">
  <article class="column">
    <h2>Curration &amp; Import</h2>
    <ul>
      <li>
        <a href="">Search &amp; crawl curration candidates</a>
      </li>
      <li>
        <a href="">Import &amp; preprocess job submission</a>
      </li>
      <li>
        <a href="">SNP statistics</a>
      </li>
      <li>
        <a href="">Multi-dimentional scaling plots</a>
      </li>
      <li>
        <a href=""> Geophylogenetics tree</a>
      </li>
      <li>
        <a href="">Admixture geographic pie chart</a>
      </li>

    </ul>
  </article>
  <article class="column">
    <h2>Help</h2>
    <ul>
      <li>
        <a href="">User Guide</a>
      </li>
      <li>
        <a href="">Forum</a>
      </li>
      <li>
        <a href="">Twitter @millet-meta-db</a>
      </li>
      <li>
        <a href="">Millet-MetaDB on Slack</a>
      </li>
    </ul>
  </article>
</section>
